body {
  background-image: url('../img/Desktop/1.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('../img/Mobile/1.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
