body {
  background-image: url('../img/Desktop/Progetto\ senza\ titolo-8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('../img/Mobile/Progetto\ senza\ titolo-7.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
